<style>
    .btn {
        margin: 100px;
    }

    .container {
        text-align: center;
    }

    h1, p {
        color: darkcyan;
    }
</style>

<h1 class="display-3">Этот сайт предназначен для обработки погодных архивов</h1>
<p class="lead">Вы можете выбрать свой архив или же выбрать из доступных погодных архивов в Москве за 2010-2014 год </p>
<hr class="my-7">
<p class="lead">Можно перейти к загрузке архивов или же к просмотру загруженных из базы данных</p>
<a class="btn btn-outline-primary btn-lg" href="Home/Index" role="button">Переход к загрузке данных</a>
<a class="btn btn-primary btn-lg" href="Home/DisplayDb" role="button">Переход к базе данных</a>

